<h1>Welcome to YoMo login page! :)</h1>
<img src="https://pixabay.com/get/ea37b10e2cf5063ed1584d05fb1d4e97e07ee3d21cac104497f6c178a4e4b7b0_340.jpg" ></img>


<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<a href="/register" class="item" >or Sign Up Here!</a>