<h1>Welcome to YoMo login page! :)</h1>
<img src="https://farm3.staticflickr.com/2852/10453655176_f5e5347d44.jpg" ></img>


<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<a href="/register" class="item" >or Sign Up Here!</a>
