<h1>Welcome to YoMo  Sign Up page! :)</h1>

<img src="https://farm3.staticflickr.com/2852/10453655176_f5e5347d44.jpg" ></img>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<a href="/login" class="item" >or Login Here!</a>
